temp
*.pyc
asrt/data-preparation/output/sentences_english.txt
asrt/data-preparation/output/sentences_french.txt
asrt/data-preparation/output/sentences_german.txt
asrt/data-preparation/output/sentences_italian.txt
asrt/data-preparation/output/sentences_unknown.txt
asrt/data-preparation/output/task_log.txt
asrt/data-preparation/output/task_log.txt.1
asrt/data-preparation/output/task_log.txt.2
asrt/data-preparation/output/task_log.txt.3
asrt/data-preparation/output/task_log.txt.4
asrt/data-preparation/output/task_log.txt.5
asrt/data-preparation/python/2012_05_Sessiondemai2012.pdf
asrt/data-preparation/python/2015.03_Sessiondemars2015.pdf
asrt/data-preparation/python/regex_mediaparl.csv
docker-example/sentences_*.txt
build-stamp
debian
