#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')

DEB_PACKAGE_SOURCE = asrt-src
DEB_PACKAGE = asrt

.PHONY: build clean install binary-indep binary-arch binary

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_installinit

	# ... DEB_PACKAGE
	# ... Asrt framework
	mkdir -p debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/
	mkdir -p debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/data-preparation/python

	#Common resources
	cp -r common debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	cp -r config debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	cp -r data-preparation/python/run_data_preparation.py debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/data-preparation/python/.
	cp -r data-preparation/python/run_data_preparation_task.py debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/data-preparation/python/.
	cp -r examples debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	
	#Other
	cp -r debian/py2pyc debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	
	#Documentation
	cp README.md debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	cp INSTALL.md debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.
	cp COPYING debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/.

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

build-source-tarball:
	dh_testdir
	dh_clean build-stamp
	# Create the source tarball
	mkdir -p /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)
	cp -r * /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)/.
	tar -C /tmp -czf ../$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION).tar.gz $(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE_SOURCE)-$(DEB_UPSTREAM_VERSION)

build-install-tarball:
	# WARNING: make install before-hand!
	# Create the installation tarball
	mkdir -p /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	cp -rp debian/$(DEB_PACKAGE)/usr/share/$(DEB_PACKAGE)/* /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/.
	cp -rp debian/$(DEB_PACKAGE)/etc/$(DEB_PACKAGE) /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)/etc
	tar -C /tmp -czf ../$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION).tar.gz $(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE)-$(DEB_UPSTREAM_VERSION)

build-data-tarball:
	# WARNING: make install before-hand!
	# Create the data tarball
	mkdir -p /tmp/$(DEB_PACKAGE_DATA)-$(DEB_UPSTREAM_VERSION)
	cp -rp debian/$(DEB_PACKAGE_DATA)/usr/share/$(DEB_PACKAGE)/* /tmp/$(DEB_PACKAGE_DATA)-$(DEB_UPSTREAM_VERSION)/.
	tar -C /tmp -czf ../$(DEB_PACKAGE_DATA)-$(DEB_UPSTREAM_VERSION).tar.gz $(DEB_PACKAGE_DATA)-$(DEB_UPSTREAM_VERSION)
	rm -rf /tmp/$(DEB_PACKAGE_DATA)-$(DEB_UPSTREAM_VERSION)

debian-packages:
	debuild -us -uc -b

debian-source:
	debuild -I'.git*' -us -uc -S

release: debian-packages build-install-tarball build-data-tarball debian-source build-source-tarball